<form class="form" action="/login" method="post">
  <label>
    Your name
  </label><br>
  <input class="name_input" type="text" name="name" value="ok" ><br>
  <button class="log_button" type="submit" name="button" >Vamos</button>
</form>
