<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Practice App</title>
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body>
    <%- include('partials/nav.ejs')%>
    <%- include('partials/main_form.ejs',{user:username})%>

  </body>
</html>
